*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(235, 223, 223);
}
#back {
    margin-top: 40px;
    margin-left: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #8fff1e;
    width: 160px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    transition: 0.3s;
}

#back:hover, #back:focus, #back:active {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

}
#back a {
    text-decoration: none;
}


/*search button*/
.search-box {
    margin-left: 35%;
    margin-top: 50px;
    width: 350px;
    border: 03px solid #009933;
    padding: 08px;
    border-radius: 30px;
    cursor: pointer;
}


input{
    background: transparent;
    border: 0px;
    outline: 0px;
    width: 300px;
}
.icon-search {
    color: #009933;
    font-size: 20px;
}
/*search button*/



/*photo start here*/
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card{
    width: 23%;
    box-shadow: rgb(83, 75, 75);
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
}

.card p{
    font-size: 1.3rem;
    margin: 1em;
    font-size: 1.2rem;
}
img{
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
button {
    color: white;
    background-color: #4CAF50;
    padding: 10px 24px;
    border-radius: 20px;
    border: 2px solid #b4b1a2;
    transition-duration: 0.4s;
}
button:hover {
    background-color: #f44336; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 
/*photo end here*/